@media only screen and (max-width: 600px) {


    #input-box {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        height: 100px;
    }

    #left-bar,
    #right-bar {
        display: block;
        margin-top: 8px;
        margin-bottom: 0px;
    }

    #right-bar {
        position: absolute;
        left: 0;
    }
}